name: Sync Files

on:
  repository_dispatch:
  workflow_dispatch:
  schedule:
    - cron: 55 15 * * *

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
    - name: 准备完成
      uses: actions/checkout@main

    - name: 下载架构编译配置文件
      run: |
        mkdir -p ./rk33xx
        rm -f ./rk33xx/.config
        wget -O  ./rk33xx/feeds.conf https://fw0.koolcenter.com/iStoreOS/r4s/feeds.conf
        wget -O  ./rk33xx/.config https://fw0.koolcenter.com/iStoreOS/r4s/config.buildinfo

        FILE_PATH1="./rk33xx/.config"
        if [ -f "$FILE_PATH1" ] && [ -s "$FILE_PATH1" ]; then
           content2=$(cat ${GITHUB_WORKSPACE}/configfiles/config_data2.txt)
           configdata2=$(echo "$content2" | sed 's/^[[:space:]]*//; s/[[:space:]]*$//')
           sed -i "/CONFIG_TARGET_DEVICE_rockchip_.*=.*/d" ./rk33xx/.config
           sed -i "/CONFIG_PACKAGE_dtc.*=.*/d" ./rk33xx/.config
           sed -i "/CONFIG_PACKAGE_luci-app-istorex.*=.*/d" ./rk33xx/.config
           echo -e "\\n$configdata2" >> ./rk33xx/.config
           # 清除.config配置文件里面重复的配置项
           configdata3=$(cat ./rk33xx/.config)
           echo "$configdata3" | awk '!seen[$0]++' > ./rk33xx/.config
        else
           echo "不处理数据。"
        fi

    - name: 同步配置
      uses: peaceiris/actions-gh-pages@v3
      with:
        personal_token: ${{ secrets.ACCESS_TOKEN }}
        publish_branch: main
        publish_dir: ./
        user_name: 'GitHub Action'
        user_email: 'github-actions[bot]@github.com'
        exclude_assets: ''
        keep_files: true
        commit_message: "Sync files"

    - name: 删除运行记录
      uses: xiaomeng9597/delete-workflow-runs@main
      with:
        retain_days: 1
        keep_minimum_runs: 1
        token: ${{ secrets.ACCESS_TOKEN }}
